body{
    font-family: arial;
   background-color: #223;
   color: white;
}
#content{
    width: 90%;
    margin: 20% auto;
}
#content{
    text-align: justify;
}
#content .ad{
   font-size: 150%;
   margin: 5% 0;
   text-align: right;
}
#content .ad a{
  background-color: orange;
  padding: 1%;
  text-decoration: none;
  margin-left: 2%;
}
/* MODAL WINDOW */
#modal{
    background-color: #678;
    padding: 5%;

    display: none;
    position: fixed;
    
    top: 30%;
     left: 25%;
    right: 25%;
    z-index: 1;
    }

 #modal:target{
          display: block;
    }

 #modal input{
     padding: 3%;
     width: 80%;
 }   
 #modal button{
     padding: 3%;
     width: 86.5%;
 }   
 #modal a{
     color: white;
     text-decoration: none;
     font-size: 200%;
     position: absolute;
     right: 2%;
     top: 2%;
 }
 #modal:target +.overlay{
    position: fixed;
    width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: #000A;
 }
